## Automatisation de reporting d'indicateurs de ventes

Dans ce projet, nous concevons un script combinant requêtes Sql et intructions Python pour générer un reporting automatique d'indicateurs sur les ventes de vélos d'une entreprise américaine à partir des données d'inventaire stockées dans un serveur Microsoft SQL.

## Contexte
En entreprise, le reporting des indicateurs commerciaux clés font partie des tâches réccurentes du Data Analyst. À défaut d'appliquer quotidiennement ou de manière hebdomadire un certain nombre d'étapes manuelles afin de générer ce rapport, l'automatisation de cette tâche s'avère d'une grande utilité, notamment en termes de gain de temps et de limitation des risques d'erreurs. 

## Objectif
Tirer parti des capacités de SQL et Python pour créer automatiquement des rapports d'indicateurs commerciaux avec des visualisations pertinentes.

## Compétences clés tranférables
*Capacité de combinaison de requêtes SQL et d'instruction Python pour créer des  visualisations convaincantes basées sur les données stockées dans des bases de données SQL.

*Automatisation les tâches de reporting répétitives (gain de temps, réduction des erreurs et facilitation de la prise de décision basée sur les données dans votre organisation).


script exécutable dans un environnement à la fois SQL et Python compatible.

## Requête sur les données d'inventaire pour avoir les ventes totales par mois

In [1]:
SELECT 
    DATEFROMPARTS(DATEPART(year, o.order_date), DATEPART(month, o.order_date), 1) AS month,
    SUM(quantity * list_price * (1 - discount)) AS total_sales
FROM
    sales.orders AS o
    INNER JOIN sales.order_items AS oi ON o.order_id = oi.order_id
GROUP BY 
    DATEFROMPARTS(DATEPART(year, o.order_date), DATEPART(month, o.order_date), 1)
ORDER BY 
    month

                       month  total_sales
0  2016-01-01 00:00:00+00:00  215146.4241
1  2016-02-01 00:00:00+00:00  156112.3228
2  2016-03-01 00:00:00+00:00  180600.3285
3  2016-04-01 00:00:00+00:00  167144.0512
4  2016-05-01 00:00:00+00:00  205270.0091
5  2016-06-01 00:00:00+00:00  210562.1245
6  2016-07-01 00:00:00+00:00  199556.8089
7  2016-08-01 00:00:00+00:00  225657.3767
8  2016-09-01 00:00:00+00:00  273091.6097
9  2016-10-01 00:00:00+00:00  212078.0805
10 2016-11-01 00:00:00+00:00  182329.4124
11 2016-12-01 00:00:00+00:00  199829.9792
12 2017-01-01 00:00:00+00:00  285616.4840
13 2017-02-01 00:00:00+00:00  312923.7470
14 2017-03-01 00:00:00+00:00  308911.9018
15 2017-04-01 00:00:00+00:00  227290.9131
16 2017-05-01 00:00:00+00:00  268233.2379
17 2017-06-01 00:00:00+00:00  378865.6535
18 2017-07-01 00:00:00+00:00  229995.3979
19 2017-08-01 00:00:00+00:00  290553.4554
20 2017-09-01 00:00:00+00:00  293405.2561
21 2017-10-01 00:00:00+00:00  310328.3090
22 2017-11-01 00:00:00+00:00  281577.9019
23 2017-12-01 00:00:00+00:00  259505.9849
24 2018-01-01 00:00:00+00:00  381430.0993
25 2018-02-01 00:00:00+00:00  200658.0615
26 2018-03-01 00:00:00+00:00  363990.9935
27 2018-04-01 00:00:00+00:00  817921.8604
28 2018-06-01 00:00:00+00:00     188.9910
29 2018-07-01 00:00:00+00:00   11337.9002
30 2018-08-01 00:00:00+00:00    8377.8147
31 2018-09-01 00:00:00+00:00    8963.9647
32 2018-10-01 00:00:00+00:00    3781.1284
33 2018-11-01 00:00:00+00:00   11362.0071
34 2018-12-01 00:00:00+00:00    6516.9667

In [2]:
SELECT 
    DATEFROMPARTS(DATEPART(year, o.order_date), DATEPART(month, o.order_date), 1) AS month,
    SUM(quantity * list_price * (1 - discount)) AS total_sales
FROM
    sales.orders AS o
    INNER JOIN sales.order_items AS oi ON o.order_id = oi.order_id
WHERE 
    o.order_date < '2018-05-01'
GROUP BY 
    DATEFROMPARTS(DATEPART(year, o.order_date), DATEPART(month, o.order_date), 1)
ORDER BY 
    month

                       month  total_sales
0  2016-01-01 00:00:00+00:00  215146.4241
1  2016-02-01 00:00:00+00:00  156112.3228
2  2016-03-01 00:00:00+00:00  180600.3285
3  2016-04-01 00:00:00+00:00  167144.0512
4  2016-05-01 00:00:00+00:00  205270.0091
5  2016-06-01 00:00:00+00:00  210562.1245
6  2016-07-01 00:00:00+00:00  199556.8089
7  2016-08-01 00:00:00+00:00  225657.3767
8  2016-09-01 00:00:00+00:00  273091.6097
9  2016-10-01 00:00:00+00:00  212078.0805
10 2016-11-01 00:00:00+00:00  182329.4124
11 2016-12-01 00:00:00+00:00  199829.9792
12 2017-01-01 00:00:00+00:00  285616.4840
13 2017-02-01 00:00:00+00:00  312923.7470
14 2017-03-01 00:00:00+00:00  308911.9018
15 2017-04-01 00:00:00+00:00  227290.9131
16 2017-05-01 00:00:00+00:00  268233.2379
17 2017-06-01 00:00:00+00:00  378865.6535
18 2017-07-01 00:00:00+00:00  229995.3979
19 2017-08-01 00:00:00+00:00  290553.4554
20 2017-09-01 00:00:00+00:00  293405.2561
21 2017-10-01 00:00:00+00:00  310328.3090
22 2017-11-01 00:00:00+00:00  281577.9019
23 2017-12-01 00:00:00+00:00  259505.9849
24 2018-01-01 00:00:00+00:00  381430.0993
25 2018-02-01 00:00:00+00:00  200658.0615
26 2018-03-01 00:00:00+00:00  363990.9935
27 2018-04-01 00:00:00+00:00  817921.8604

In [3]:
#Dataframe sales_over_time
sales_over_time

                       month  total_sales
0  2016-01-01 00:00:00+00:00  215146.4241
1  2016-02-01 00:00:00+00:00  156112.3228
2  2016-03-01 00:00:00+00:00  180600.3285
3  2016-04-01 00:00:00+00:00  167144.0512
4  2016-05-01 00:00:00+00:00  205270.0091
5  2016-06-01 00:00:00+00:00  210562.1245
6  2016-07-01 00:00:00+00:00  199556.8089
7  2016-08-01 00:00:00+00:00  225657.3767
8  2016-09-01 00:00:00+00:00  273091.6097
9  2016-10-01 00:00:00+00:00  212078.0805
10 2016-11-01 00:00:00+00:00  182329.4124
11 2016-12-01 00:00:00+00:00  199829.9792
12 2017-01-01 00:00:00+00:00  285616.4840
13 2017-02-01 00:00:00+00:00  312923.7470
14 2017-03-01 00:00:00+00:00  308911.9018
15 2017-04-01 00:00:00+00:00  227290.9131
16 2017-05-01 00:00:00+00:00  268233.2379
17 2017-06-01 00:00:00+00:00  378865.6535
18 2017-07-01 00:00:00+00:00  229995.3979
19 2017-08-01 00:00:00+00:00  290553.4554
20 2017-09-01 00:00:00+00:00  293405.2561
21 2017-10-01 00:00:00+00:00  310328.3090
22 2017-11-01 00:00:00+00:00  281577.9019
23 2017-12-01 00:00:00+00:00  259505.9849
24 2018-01-01 00:00:00+00:00  381430.0993
25 2018-02-01 00:00:00+00:00  200658.0615
26 2018-03-01 00:00:00+00:00  363990.9935
27 2018-04-01 00:00:00+00:00  817921.8604

In [4]:
# Visualiser l'évolution des ventes (py)
import plotly.express as px
fig = px.line(sales_over_time, x='month', y='total_sales', title='Total Sales by Month')
fig.show()
#sales_chart_filename = 'sales_over_time.png'
#fig.write_image(sales_chart_filename)

## Top 3 des meilleurs commerciaux du derniers mois (Avril 2018)

In [5]:
-- Top3 du mois d'avril 2018
SELECT TOP 3
DATEFROMPARTS(DATEPART(year, o.order_date), DATEPART(month, o.order_date), 1) AS month,
st.first_name, st.last_name,
quantity * list_price * (1 - discount) AS total_sales

FROM sales.orders AS o
JOIN sales.staffs AS st
ON o.store_id = st.store_id
JOIN sales.order_items AS oi
ON o.order_id = oi.order_id

WHERE 	DATEFROMPARTS(DATEPART(year, o.order_date), DATEPART(month, o.order_date), 1) = '2018-04-01' --Pour Avril 2018
ORDER BY
	total_sales DESC

                      month first_name last_name  total_sales
0 2018-04-01 00:00:00+00:00   Jannette     David    21599.982
1 2018-04-01 00:00:00+00:00  Marcelene     Boyer    21599.982
2 2018-04-01 00:00:00+00:00     Venita    Daniel    21599.982

In [6]:
--requête alternative à la première
SELECT TOP 3
	CONCAT(first_name, ' ', last_name) AS full_name,
	SUM(quantity * list_price * (1 - discount)) AS sales
FROM 
	sales.orders AS o
	INNER JOIN sales.order_items AS oi ON o.order_id = oi.order_id
	INNER JOIN sales.staffs AS s ON o.staff_id = s.staff_id
WHERE 
	DATEPART(year, o.order_date) = 2018
	AND DATEPART(month, o.order_date) = 4 --Avril 2018
GROUP BY 
	CONCAT(first_name, ' ', last_name)
ORDER BY 
	sales DESC

         full_name        sales
0    Venita Daniel  275594.3638
1    Genna Serrano  174986.5221
2  Marcelene Boyer  161670.5474

In [7]:
# Dataframe top_sellers
top_sellers

         full_name        sales
0    Venita Daniel  275594.3638
1    Genna Serrano  174986.5221
2  Marcelene Boyer  161670.5474

## Programmer un message automatisable de reporting mensuel

In [10]:
# programmer un message automatique à partir des indicateurs calculés (py)
from babel.numbers import format_currency

total_sales = sales_over_time[sales_over_time['month'] == sales_over_time['month'].max()]['total_sales'].values[0]
sellers_dict = top_sellers.to_dict(orient='records')

sellers_list = top_sellers \
    .apply(lambda x: f"• {x['full_name']} ({format_currency(x['sales'], 'USD')})", axis="columns")
sellers_overview = "\n".join(sellers_list)

text = f"""Le mois passé, nous avons fait {format_currency(total_sales,          'USD')} en vente !

Nos vendeurs stars du mois sont:
{sellers_overview}

"""

print(text)

Le mois passé, nous avons fait $817,921.86 en vente !

Nos vendeurs stars du mois sont:
• Venita Daniel ($275,594.36)
• Genna Serrano ($174,986.52)
• Marcelene Boyer ($161,670.55)